@page "/"
@using Drag_Static_Site.Models
@using Drag_Static_Site.Services
@using Markdig
@inject HttpClient HttpClient
@inject PostService PostService

@if (CurrentPost == null)
{
    <h3><MudProgressCircular Color="Color.Success" Size="Size.Large" /> Loading Post...</h3>
}
else
{
    <MudText Typo="Typo.h3">You're Currently Reading:@CurrentPost.PostName</MudText>
    <MudText Typo="Typo.h4">Published / Last Updated: @CurrentPost.PublishedDateTime</MudText>
    <MudMarkdown Value="@CurrentMarkDown"></MudMarkdown>
    <MudButton OnClick="GoPrevious">Previous Post</MudButton>
    <MudButton OnClick="GoNext">Next Post</MudButton>
}

@code
{
    string CurrentMarkDown;
    int CurrentPostIndex;
    Post CurrentPost { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await PostService.InitializeAsync(HttpClient);
        CurrentPost = PostService.Posts.First();
        var markdown = await PostService.GetPostHtmlAsync(CurrentPost, HttpClient);
        CurrentMarkDown = markdown;
        CurrentPostIndex = 0;
        await base.OnInitializedAsync().ConfigureAwait(false);

    }

    private async Task GoPrevious()
    {
        var lastIndex = PostService.Posts.IndexOf(PostService.Posts.Last());
        if (CurrentPostIndex > 0 && CurrentPostIndex <= lastIndex )
        {
            CurrentPost = PostService.Posts[CurrentPostIndex - 1];
            CurrentMarkDown = await PostService.GetPostHtmlAsync(CurrentPost, HttpClient); ;
            CurrentPostIndex--;
        }
        else if (CurrentPostIndex == 0)
        {
            CurrentPost = PostService.Posts[lastIndex];
            CurrentMarkDown = await PostService.GetPostHtmlAsync(CurrentPost, HttpClient); ;
            CurrentPostIndex = lastIndex;
        }
    }

    private async Task GoNext()
    {
        var lastIndex = PostService.Posts.IndexOf(PostService.Posts.Last());
        if (CurrentPostIndex < lastIndex)
        {
            CurrentPost = PostService.Posts[CurrentPostIndex + 1];
            CurrentMarkDown = await PostService.GetPostHtmlAsync(CurrentPost, HttpClient); ;
            CurrentPostIndex++;
        }
        else if (CurrentPostIndex == lastIndex)
        {
            CurrentPost = PostService.Posts[0];
            CurrentMarkDown = await PostService.GetPostHtmlAsync(CurrentPost, HttpClient); ;
            CurrentPostIndex = 0;
        }

    }
}
