name: Publish To Github

# Run on every push to master
on:
  push:
    branches: [ master ]
jobs:
  deploy-to-github-pages:
    # use ubuntu-latest for the VM
    runs-on: ubuntu-latest
    steps:
    # use the checkout action to checkout from Master
    - uses: actions/checkout@v2
      # sets up .NET Core SDK 7.0
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '7.x'
      # Publish to release
    - name: Publish .NET Core Project - Output to Console
      run: echo "$(dotnet publish ./Drag_Static_Site/Drag_Static_Site -c Release -o release --nologo --verbosity n)"
      # changes the base-tag in index.html from '/' to 'Drag_Static_Site' to match the GitHub Pages repository folder struc
    - name: Change base-tag in index.html from / to Drag_Static_Site
      run: sed -i 's/<base href="\/" \/>/<base href="\/Drag_Static_Site\/" \/>/g' release/wwwroot/index.html
      # add .nojekyll file since this isn't made with Jekyll. This is needed because Blazor uses files & folders with initial char of _'s 
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll
      # Push to GH-Pages branch
    - name: Commit wwwroot to Release Branch
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        BRANCH: Release
        FOLDER: release/wwwroot
    
